.banner {
  color: white;
  text-align: center;
  width: 114vw;
  margin-left: -7vw;
  min-height: 70vh;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom-left-radius: 50% 25%;
  border-bottom-right-radius: 50% 25%;
  -webkit-filter: blur(3px);
  filter: blur(3px);
}
.btn-inscription{
  padding-top: 100px;
}

#btn-recruiter {
  margin-bottom: 1px;
  border: none;
  background-color: $gray-mid-light;
  transition: all 0.5s ease;
    &:hover {
    background-color: $gray-mid-light;
    color: white;
    text-decoration: none;
    }
}

#btn-candidate {
  border: none;
  transition: all 0.5s ease;
  margin-left: 3px;
  margin-bottom: 1px;
    &:hover {
      background-color: $blue-lighter;
      color: white;
      text-decoration: none;
    }
}

.banner-top-title {
  color: white;
  text-shadow: 0px 0px 4px black;
}


.banner-search-input {
  flex: 80%;
  width: 30vw;
  min-width: 15vw;
  transition: all 0.15s ease;
  line-height: 45px;
  font-weight: lighter;
  color: #666666;
  border: 1px solid #E6E6E6;
  border-radius: 5px;
  padding: 0 10px;
  font-size: 14px;
}

.underbanner {
  min-height: 13vh;
}

.max-width-100 {
  max-width: 100%;
}

.homepage-wrapper {
  background-color: $gray-lighter;
}

.box-padding {
  padding: 15px 30px;
}

.light-background {
  background-color: white;
  padding-top: 1px;
  padding-bottom: 1px;
  margin-bottom: 20px;
}

.homepage-arguments-title {
 padding: 25px;
 margin-bottom: -5px;
}

.margin-top-neg-6px {
  margin-top: -6px;
  padding-bottom: 12px;
}

.home-page-spacer {
  height: 20px;
}
