.wrapper-table-job-offer {
  padding: 10px;
  margin-left: 200px;
  margin-top: 30px;
}

.job-offer-second-navbar {
  position: absolute;
  top: 14px;
  left: 577px;
  font-size: 15px;
  font-weight: bold;
}

.second-navbar-job-applications {
  position: fixed;
  width: 100%;
  height: 50px;
  background: white;
  border-bottom: 3px solid $blue-lighter;
  box-shadow: 0 2px 2px rgba(0,0,0,0.2);
  position: fixed;
  width: 100%;
  top: 45px;
  z-index: 10;
}

.navbar-higher-brand-recruiter2 {
  z-index: 10;
  position: fixed;
  top: 57px;
  left: 30px;
    img {
      height: 19px;
    }
  }

.navbar-higher-btn-group-recruiter {
  z-index: 10;
  position: fixed;
  top: 55px;
  left: 200px;
    button {
      background-color: $gray-lighter;
      height: 26px;
      div {
        margin-top: -4px;
      }
    }
}

.page-switch-chevrons {
  z-index: 10;
  position: fixed;
  top: 55px;
  right: 25px;
    button {
      background-color: $gray-lighter;
      height: 26px;
      div {
        margin-top: -4px;
      }
    }
}

.page-switch-text {
  z-index: 10;
  position: fixed;
  top: 60px;
  right: 126px;
  font-size: 14px;
}

.second-navbar-brand {
  height:50px;
}

.bottom-second-navbar {
  position: absolute;
  bottom: 0;
  height: 3px;
  background: $blue-lighter;
  box-shadow: 0 2px 2px rgba(0,0,0,0.3);
  width: 100%;
  z-index: 5;

}

.menu-job-applications {
  position: fixed;
  top: 95px;
  bottom: 0px;
  background: white;
  width: 200px;
  min-height: 400px;
  left: 0;
  padding-left: 5px;
}

.HR-agents {
  width: 160px;
  margin: auto;
}

.HR-agent {
  border-top: 1px solid $gray-lighter;
  position: relative;
  padding: 6px;
  height: 49px;
}

.HR-agent-name-and-title {
  font-size: 18px;
  position: absolute;
  top: 6;
  left: 45px;
}

.HR-agent-name {
  font-size: 18px;
  margin-top: -2px;
}

.HR-agent-title {
  font-size: 13px;
  margin-top: -16px;
}

.HR-agent-photo {
  position: absolute;
  top: 6;
  left: 0;
}

.side-bar-content {
  font-size: 16px;
  margin-top: 25px;
  margin-left: 28px;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0px;
  padding-bottom: 0px;
}

#filters-button {
  margin-left: 25px;
  margin-top: 0px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 0px;
  width: 140px;
  z-index: 0;
  background-color: $blue;
  font-size: 17px;
}

.table-th-job-applications {
  border: 1px solid #dedede;
}

.table-applications-wrapper {
  width: 90%;
}

.table-applications-header {
  display: flex;
  width: 99%;
  border-top-width: 0.25px;
  border-bottom-width: 0px;
  border-left-width: 0.5px;
  border-right-width: 0.5px;
  border-color: $gray-light;
  border-style: solid;
  background: white;
}

.table-applications {
  display: flex;
  width: 99%;
  border-top-width: 0.25px;
  border-bottom-width: 0px;
  border-left-width: 0.5px;
  border-right-width: 0.5px;
  border-color: $gray-light;
  border-style: solid;
  background: $gray-lighter;
}

.table-applications:last-child {
  border-bottom-width: 0.25px;
}

#table-columns-1 {
  flex: 0 0 2%;
  border-right-width: 0.5px;
  border-top-width: 0px;
  border-bottom-width: 0px;
  border-color: $gray-light;
  border-style: solid;
  border-left-width: 0px;
}

#table-columns-2 {
  flex: 0 0 28%;
  border-right-width: 0.5px;
  border-top-width: 0px;
  border-bottom-width: 0px;
  border-color: $gray-light;
  border-style: solid;
  border-left-width: 0px;
  color: #34495e;
}

#table-columns-3 {
  flex: 0 0 7%;
  border-right-width: 0.5px;
  border-top-width: 0px;
  border-bottom-width: 0px;
  border-color: $gray-light;
  border-style: solid;
  border-left-width: 0px;
}

#table-columns-4 {
  flex: 0 0 8%;
  border-right-width: 0.5px;
  border-top-width: 0px;
  border-bottom-width: 0px;
  border-color: $gray-light;
  border-style: solid;
  border-left-width: 0px;
}

#table-columns-5 {
  flex: 0 0 10%;
  border-right-width: 0.5px;
  border-top-width: 0px;
  border-bottom-width: 0px;
  border-color: $gray-light;
  border-style: solid;
  border-left-width: 0px;
}

#table-columns-6 {
  flex: 0 0 20%;
  border-right-width: 0.5px;
  border-top-width: 0px;
  border-bottom-width: 0px;
  border-color: $gray-light;
  border-style: solid;
  border-left-width: 0px;
}

#table-columns-7 {
  flex: 0 0 15%;
  border-right-width: 0.5px;
  border-top-width: 0px;
  border-bottom-width: 0px;
  border-color: $gray-light;
  border-style: solid;
  border-left-width: 0px;
}

#table-columns-8 {
  flex: 0 0 10%;
  border-right-width: 0px;
  border-top-width: 0px;
  border-bottom-width: 0px;
  border-color: $gray-light;
  border-style: solid;
  border-left-width: 0px;
}

.green-point {
  color: green
}

.red-point {
  color: red
}

.delete-but {
  left: 240px;
  top: -29px;
}

.send-but {
  left: 240px;
  top: -29px;
}

.width-95-percent {
  width: 95%;
}

.link-candidate {
  color: #376092
}

.font-size-table {
font-size: 13px
}

.link-row {
  position: relative;
}

.font-weight-experiences-under-name {
  line-height: 10px;
  font-size: 11px;
}

.background-dif {
  background: gray;
}

.form-pourri {
  width: 0;
  height: 0;
}

.btn-second-navbar-job-offers {
  width: 90px;
}

.btn-second-navbar-job-applications {
  width: 72px;
}

.btn-second-navbar-page-switch {
  width: 45px;
}

.black {
  color: black;
}

.gray-mid-lighter {
  color: $gray-mid-lighter;
  margin-left: 3px;
}

.second-navbar-job-offer-title {
  color: $blue;
  font-size: 16px;
  font-weight: 100;
  margin-left: 3px;
}

.bottom-left-note {
  position: absolute;
  bottom: -4px;
  width: 100%;
  font-size: 14px;
    span {
      padding: 2px;
    }
}

// DATATABLE
#job_application_table_wrapper {
}

.dataTable {
}

#job_application_table {
  margin: 0 !important;
  position: relative;
  top: 50px;
  left: 200px;
  width: 84.4vw;
  background-color: $gray-lighter !important;
  th {
    text-align: center;
  }
  td {
    text-align: center;
  }
}

#job_application_table_length {
  position: absolute;
  left: 200px;
  display: none;
}

#job_application_table_filter {
  position: fixed;
  left: -35px;
  top: 242px;
  z-index: 10;
  label {
  }
  input {
    width: 138px;
  }
}

#job_application_table_info {
  position: absolute;
  left: 200px;
  display: none;
}

#job_application_table_paginate {
  display: none;
}

.datatable-candidate-col {
  text-align: left !important;
}
