<div class="banner" style="background-image: linear-gradient(-225deg, rgba(52,73,94,0.5) 0%, rgba(255,255,255,0.3) 50%), url(<%= image_path 'papers.jpg' %>);">
  <div class="container">
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2">

        <div class="banner-core">

          <!-- banner title -->
          <h1 class="banner-title">Find a Job. No Excuses.</h1>

          <!-- search bar -->
          <form action="/search" class="navbar-higher-search" id="search">
            <input type="text" class="navbar-higher-search-input" placeholder="What is the position you are looking for ?" name="query">
            <button type="submit" class="navbar-higher-search-btn">
              <i class="fa fa-search"></i>
            </button>
          </form>
        </div>

      </div>
    </div>
  </div>  <!-- end of bootstrap -->
</div> <!-- end of banner -->

