.gray-background {
  background-color: $gray-lighter;
  min-height: 110vh;
}

.black-background {
  background-color: $black;
  min-height: 110vh;
}

.cv-wrapper {
  background: white;                          /* White background */
  min-height: 110vh;
  padding: 30px;                              /* Internal space */
  margin-bottom: 10vh;
  border-radius: 1px;                         /* Small radius */
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  border: 1px solid rgba(0, 0, 0, 0.1);
}

#motivation_letter_field {
  height: 50vh;
}

// CV modal

#ViewAsEmployerModal {
  top: 5vh;
  outline: none;
}

#ViewAsEmployerModal .modal-dialog  {
  width : 52%;
}

#ViewAsEmployerModal .modal-body  {
  padding: 0 80px;
  padding-top: 30px;
  min-height: 125vh;
}

.cv-modal-footer {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.top-right {
  position: absolute;
  top: 6px;
  right: 10px;
  z-index: 1;
}

.small-text {
  font-size: 14px;
}

.top-border {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

#top-border {
    margin-top: 50px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

#top-border-under-title {
  margin-top: 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  width: 75%;

}

#underline-title {
  text-decoration: underline;
  margin-bottom: 30px;
}

.job-description-wrapper {
  text-align: justify;
  margin: auto;
  width: 85%;
}
