// OVERALL POSITIONING
.navbar-higher {
  // background: #323a45;
  background: linear-gradient(#323a45, $black);
  transition: all 0.3s ease;
  display: flex;
  height: 45px;
  padding: 0px 30px;
  align-items: center;
  justify-content: space-between;
}

.navbar-higher-no-flex {
  // background: #323a45;
  background: linear-gradient(#323a45, $black);
  transition: all 0.3s ease;
  height: 45px;
  padding: 0px 30px;
  align-items: center;
  justify-content: space-between;
}

.blue-bottom-border {
  border-bottom: 2px solid $blue-lighter;
  box-shadow: 0 2px 2px rgba(0,0,0,0.2);
}

.blue-bottom-border-fixed {
  border-bottom: 2px solid $blue-lighter;
  box-shadow: 0 2px 2px rgba(0,0,0,0.2);
  position: fixed;
  width: 100%;
  top: 45px;
  z-index: 10;
}

.navbar-higher-funnel {
  background: linear-gradient(#323a45, $black);
  transition: all 0.3s ease;
  height: 80px;
  border-bottom: 4px solid $blue-lighter;
  min-width: 900px;
}

/* Text on visitor navbar */

.navbar-content-visitor {
  // position: absolute;
  padding-top: 10px;
  margin-left: 2.5%;
  color: white;
  font-weight: lighter;
}

/* Optional class to fix the navbar on top */
.navbar-higher-fixed {
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 6;
  width: 100%;
}

/* Navbar right section (with form, links, button) */
.navbar-wagon-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 88%;
}

// blank flex-boxes
.blank-10-percent {
  flex: 0 0 10%;
}

// blank flex-boxes
.blank-5-percent {
  flex: 0 0 5%;
}

// blank flex-boxes
.blank-1-percent {
  flex: 0 0 5%;
}

.margin-top-neg-38px {
  margin-top: -38px;
}


.margin-top-4px {
  margin-top: 4px;
}

// LOGOS

/* Navbar logo */
.navbar-higher-brand {

  top: 4px;
}


.navbar-higher-brand img {
  height: 37px;
}

.navbar-higher-brand-funnel {
  position: absolute;
  top: 8px;
  right: 30px;
    img {
      height: 42px;
    }
}

.navbar-higher-brand-recruiter {
  position: absolute;
  top: 15px;
  left: 10px;
    img {
      height: 24px;
    }
}

// SEARCH BAR

/* Navbar search form */
.navbar-higher-search {
  flex: 0 1 40%;
  display: flex;
  justify-content: flex-start;
  padding: 0 5px;
  display: flex;
  align-items: center;
}
.navbar-higher-search-btn {
  line-height: 27px;
  color: $black;
  border: none;
  background: transparent;
  z-index: 1;
  margin-left: -40px;
}
.navbar-higher-search-btn:active, .navbar-higher-search-btn:focus  {
  outline: none;
}
.navbar-higher-search-input {
  left: 200px;
  width: 30vw;
  min-width: 15vw;
  transition: all 0.15s ease;
  line-height: 45px;
  font-weight: lighter;
  color: #666666;
  border: 1px solid #E6E6E6;
  border-radius: 5px;
  padding: 0 10px;
  font-size: 14px;
  outline: none;
}
.navbar-higher-search-input:focus  {
  border: 1px solid #CCCCCC;
}


// NOTIFICATIONS

.navbar-higher-notifications {
  flex: 0 1 13%;
  display: flex;
  margin-top: 6px;
}

.navbar-higher-notifications-candidates {
  display: flex;
  margin-top: 6px;
}

#navbar-higher-notification {
  padding: 0 10px;
}

// LINKS

/* Navbar standard link */
.navbar-higher-links {
  flex: 0 0 310px;
  margin-right: -16px;
  cursor: pointer;
  padding: 0 20px;
  margin-bottom: 2px;
}

.navbar-higher-links-candidates {
  // width: 350px;
 // margin-right: -16px;
  cursor: pointer;
 // padding: 0 20px;
 // margin-bottom: 2px;
}

.navbar-higher-link {
  text-decoration: none;
  color: white;
  font-size: 19px;
  font-weight: lighter;
  opacity: 0.85;
  padding: 0 13px;
  &:hover {
    text-decoration: none;
    // font-weight: normal;
    opacity: 1;
    color: white;
    // border-bottom: 2px solid white;
    // padding-bottom: 11px;
  }
  &:active {
    text-decoration: none;
    // font-weight: normal;
    color: white;
  }
  &:visited {
    text-decoration: none;
  }
}

// FUNNEL STEPS

.funnel-steps-flexbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tabs {
  flex: 0 0 33%;
  text-align: center;
  cursor: pointer;
}

.active-funnel-steps {
  background-color: $gray-lighter !important;
  color: $black !important;
}


.circle {
  background-color: $gray-mid-light;
  color: white;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin: auto;
  margin-top: 9px;
  text-align: center;
}

.circle-numbers {
  font-family: 'Open Sans';
  padding-top: 4px;
}

.funnel-titles {
  color: white;
  text-align: center;
  margin-top: 8px;
  font-size: 16px;
}

.funnel-title-options {
  font-family: 'Arial Rounded MT Bold';
  color: white;
}

.funnel-title-options-left {
  padding-top: 2px;
  margin-bottom: -10px;
}

.funnel-title-options-right {
  padding-top: 4px;
  margin-bottom: -14px;
}


.font-17 {
  font-size: 17px;
}

.font-20 {
  font-size: 20px;
}

.font-21 {
  font-size: 21px;
}

.font-23 {
  font-size: 23px;
}

.font-25 {
  font-size: 25px;
}

// DROPDOWN

/* Navbar dropdown menu */

.navbar-higher-menu {
  cursor: pointer;
  color: white;
}

.navbar-wagon-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
  z-index: 1000 !important;
}
.navbar-wagon-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: #999999 !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.navbar-wagon-dropdown-menu li > a:hover {
  background: transparent !important;
  color: black !important;
}
.navbar-wagon-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}

#funnel-logout-triangle {
  position: absolute;
  top: 17px;
  right: 11px;
}

#funnel-logout-triangle-and-name {
  position: absolute;
  top: 4px;
  right: 11px;
}
.dropdown-toggle {
  color: white;
}

.min-width-800px {
  min-width: 800px;
}
