<h1><%= @job_offer.title %></h1>

<div class="dropdown">




  <%= link_to "#", { class: "text-decoration-none btn dropdown-toggle", 'role' => 'button', id: "dropdownMenu1", 'data-toggle' => 'dropdown' } do %>


    Dropdown


  <% end %>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><a href="#">Action</a></li>
    <li><a href="#">Another action</a></li>
    <li><a href="#">Something else here</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="#">Separated link</a></li>
  </ul>
</div>
