#orga-name-deco {
  text-decoration: none;
}

#link-offers {
  text-decoration: none;
}

// Separation between candidate info and his applications

.line {
  margin-top: 40px;
  margin-bottom: 20px;
  border: 1px solid $gray-lighter;
}

//  Padding underneath title candidate#show

#padding-title {
  margin-bottom: 20px;
}

.glyphicon-flash {
  color: $gray-lighter;
}

.glyphicon-user {
  font-size: 22px;
  color: $gray-lighter;
  &:hover {
    color: white;
  }
}

.glyphicon-flag {
  color: $gray-lighter;
  &:hover {
    color: white;
  }
}

.fa-comments {
  color: $gray-lighter;
  &:hover {
    color: white;
  }
}

.btn-show-application:hover {
  .glyphicon-flash {
      color: $yellow;
  }
}

// On the devise forms

.higher-logo-margin {
  margin-top: 50px;
}

.form-control {
  border-radius: 5px;
}

.links-form a {
  color: $black;
  opacity: 0.8;
  &:hover {
  opacity: 1;
  }
}

#link-margin-top {
  margin-top: 15px;
}

#linkedin-fa {
  margin: 0px;
}

.fa-linkedin {
  font-size: 19px;
}

// On the blank Resume

#inline-link-resume {
  display: -webkit-box;
  margin: 10px 0;
}

#inline-link-resume i {
  margin: 0 10px;
  font-size: 20px;
}

#inline-link-resume .fa-wpforms {
  color: $gray-mid-light;
}

#inline-link-resume .fa-graduation-cap {
  color: $blue;
}

#inline-link-resume .fa-globe {
  color: $green;
}

#title-shy-margin {
  margin-bottom: 60px;
  font-style: italic;
  color: $black;
}

.action-inline {
  display: inline;
}

.margin-links-add-something {
  margin-top: 10px;
}

.margin-left {
  margin-left: 11px;
}

.color-mid-gray {
  color: $gray-light;
}

#resume-style {
  color: $black;
  font-weight: lighter;
  font-style: italic;
  margin-right: 10px;
}

.titles-resume {
  display: flex;
  justify-content: center;
}

