<div class="text-center higher-logo-margin">
    <%= image_tag("higher-black.png", size: "207x80", data: { title: 'Higher Logo' }) %>
</div>

<p>Welcome <%= @email %>!</p>

<p>You can confirm your account email through the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>
