<div class="text-center higher-logo-margin">
    <%= image_tag("higher-black.png", size: "207x80", data: { title: 'Higher Logo' }) %>
</div>

<p>Hello <%= @resource.email %>!</p>

<p>We're contacting you to notify you that your password has been changed.</p>
